<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484788321975-dkp5e6ighim3cqes9th3l35obu3fr926.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484788321975-dkp5e6ighim3cqes9th3l35obu3fr926</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Fn7mmqxuYpANj2Rq7u-SZqOL_8WTBXg</string>
	<key>GCM_SENDER_ID</key>
	<string>484788321975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdgphbapp</string>
	<key>PROJECT_ID</key>
	<string>gdg-phb</string>
	<key>STORAGE_BUCKET</key>
	<string>gdg-phb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484788321975:ios:cb0ae73be3a2907f7ad732</string>
</dict>
</plist>